.menu {
  display: flex;
  justify-content: flex-end;
}
.menu ul:first-child {
  margin-right:auto;
}
:not(.menu) > ul ul {
  padding-inline-start: 40px;
}
hr {
  height: 0;
  border: 0;
  border-bottom: 1px dashed rgba(0, 255, 0, 0.9);
  color: rgba(0, 255, 0, 0.9);
}
img {
  max-width: 100%;
}
table {
  width: 100%;
}
th {
  border-bottom: 1px dashed rgba(0, 255, 0, 0.9);
}
code.highlighter-rouge {
  color: var(--code-color-5);
}
pre.highlight {
  padding: 10px 0 10px 0;
}
pre.highlight::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: var(--background-color);
}
pre.highlight::-webkit-scrollbar-track {
  background-color: var(--code-color-6);
}
pre.highlight::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: var(--code-color-9);
}
